* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: monospace; background-color: #CCCCCC; font-size: 3vh; }

body input, body select, body button { font-size: 0.8em; }

body::-webkit-scrollbar { display: none; }

body .container { width: 90.90909%; margin: 1em auto; }

body .container .content-header { background-color: #006C67; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 1em; }

body .container .content-header .title { display: -webkit-box; display: -ms-flexbox; display: flex; color: white; }

body .container .content-header .title h1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

body .container .content-header .title h1::before, body .container .content-header .title h1::after { content: "CiuF"; }

body .container .content-header .title h1 > * { margin: 0 0.2em; }

body .container .content-header .title h1 i { background-color: #E31936; padding: 0.5em; border-radius: 100%; }

body .container .content-input-card { background-color: white; padding: 2em; }

body .container .content-input-card .row { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); grid-template-areas: "name km eta" ". controlls ."; gap: 2em; list-style-type: none; }

body .container .content-input-card .row > li { text-align: center; }

body .container .content-input-card .row > li > * { margin: 0.5em 0; }

body .container .content-input-card .row > li.name { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: name; }

body .container .content-input-card .row > li.km { -ms-grid-row: 1; -ms-grid-column: 2; grid-area: km; }

body .container .content-input-card .row > li.eta { -ms-grid-row: 1; -ms-grid-column: 3; grid-area: eta; }

body .container .content-input-card .row > li.controlls { -ms-grid-row: 2; -ms-grid-column: 2; grid-area: controlls; }

body .container .content-input-card .row > li input, body .container .content-input-card .row > li select { padding: 0.5em; text-align: center; }

body .container .content-input-card .row > li input::-webkit-outer-spin-button, body .container .content-input-card .row > li input::-webkit-inner-spin-button, body .container .content-input-card .row > li input input[type=number], body .container .content-input-card .row > li select::-webkit-outer-spin-button, body .container .content-input-card .row > li select::-webkit-inner-spin-button, body .container .content-input-card .row > li select input[type=number] { -webkit-appearance: none; margin: 0; -moz-appearance: textfield; }

body .container .content-input-card .row > li input:focus::-webkit-input-placeholder, body .container .content-input-card .row > li select:focus::-webkit-input-placeholder { color: transparent; }

body .container .content-input-card .row > li input:focus:-ms-input-placeholder, body .container .content-input-card .row > li select:focus:-ms-input-placeholder { color: transparent; }

body .container .content-input-card .row > li input:focus::-ms-input-placeholder, body .container .content-input-card .row > li select:focus::-ms-input-placeholder { color: transparent; }

body .container .content-input-card .row > li input:focus::placeholder, body .container .content-input-card .row > li select:focus::placeholder { color: transparent; }

body .container .content-input-card .row > li button { padding: 0.5em 1em; }

body .container .content-output-card { display: none; background-color: white; padding: 2em; margin: 1em 0; }

body .container .content-output-card.show { display: block; }

body .container .content-output-card .row { list-style: none; display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[5]; grid-template-columns: repeat(5, 1fr); grid-template-areas: "title title . . ." "passeggero offerta carrozza id costo"; }

body .container .content-output-card .row > li:not(.title) { text-align: center; }

body .container .content-output-card .row > li:not(.title) > * { padding: 0.2em 0; }

body .container .content-output-card .row .title { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: title; padding: 1em 0; text-transform: uppercase; }

body .container .content-output-card .row .passeggero { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: passeggero; text-transform: capitalize; }

body .container .content-output-card .row .offerta { -ms-grid-row: 2; -ms-grid-column: 2; grid-area: offerta; }

body .container .content-output-card .row .carrozza { -ms-grid-row: 2; -ms-grid-column: 3; grid-area: carrozza; }

body .container .content-output-card .row .id { -ms-grid-row: 2; -ms-grid-column: 4; grid-area: id; }

body .container .content-output-card .row .costo { -ms-grid-row: 2; -ms-grid-column: 5; grid-area: costo; }
